@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap');


body {
    background-color: #2c3440;
    color:  #9ab;
    font-family: 'Recursive', Arial, Helvetica, sans-serif;
    font-style: normal;
}

p {
    font-family: 'Recursive', sans-serif;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 1.5px;
    
}

.saida {
    font-family: 'Recursive', sans-serif;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 1.5px;
}
/*
#coffeimg {
    
    padding-bottom: 60px;
     
}
 */
h1 {
    font-weight: bolder;
    margin: 50px;
    font-family: 'Recursive', sans-serif;
    color: #00e054;
    letter-spacing: 2px;
}

h2 {
    text-align: center;
   padding: 30px;
    font-family: 'Recursive', sans-serif;
    color: #fac785;
    letter-spacing: 2px;
}

#name {
    font-weight: bold;
    font-size: 0.7em;
    letter-spacing: 0.1em;
}
/*
#imgterminal {
    border: 2px solid #99aabb;
    border-radius: 15px;
    padding: 1px;
}
*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills, h1 {
    text-align: center;
}

#html5 {
    border-radius: 2px;
    border: 2px solid #9ab;
    padding: 7px;
}

#html5:hover {
    transition-duration: 1s;
    border: 2px solid #ff6822;
    padding: 7px;
}

#css3 {
    border-radius: 2px;
    border: 2px solid #9ab;
    padding: 7px;
}

#css3:hover {
    transition-duration: 1s;
    border: 2px solid #5f87ff;
    padding: 7px;
}

#js {
    border-radius: 2px;
    border: 2px solid #9ab;
    padding: 17px;
}

#js:hover {
    transition-duration: 1s;
    border: 2px solid #fffb00;
    padding: 17px;
}

#git {
    border-radius: 2px;
    border: 2px solid #9ab;
    padding: 17px;
}

#git:hover {
    transition-duration: 1s;
    border: 2px solid #b36e00;
    padding: 17px;
}

#github {
    border-radius: 2px;
    border: 2px solid #9ab;
    padding: 17px;
}

#github:hover {
    transition-duration: 1s;
    border: 2px solid #14181c;
    padding: 17px;
}

#mysql {
    border-radius: 2px;
    border: 2px solid #9ab;
    padding: 17px;
}

#mysql:hover {
    transition-duration: 1s;
    border: 2px solid #7abcff;
    padding: 17px;
}

.aprendendo {
    text-align: center;
}

#typescript {
    border-radius: 2px;
    border: 2px solid #9ab;
    padding: 17px;
}

#typescript:hover {
    transition-duration: 1s;
    border: 2px solid #3178c6;
    padding: 17px;
}


#react {
    border-radius: 2px;
    border: 2px solid #9ab;
    padding: 17px;
}

#react:hover {
    transition-duration: 1s;
    border: 2px solid #5fd9fb;
    padding: 17px;
}

#uni {
    font-size: 10px;
    letter-spacing: 1.5px;
}

hr {
    border-color:#99aabb;
    width: 25px;
}

.rocket {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rocket, p {
    padding: 10px;
}

#html5_rocket {
    color: #ffa600;
}

#css3_rocket {
    color: #48a3ff;
}

#JS_rocket {
    color: #fffb00;
    padding-top: 10px;
}


.contato {
    text-align: center;
    letter-spacing: 5px;
}


#discord_contato {
    border-radius: 2px;
    border-bottom: 2px solid #9ab;
    padding: 7px;
}

#discord_contato:hover {
    transition-duration: 1s;
    border-bottom: 2px solid #5c6bc0;
    padding: 7px;
}

#github_contato {
    border-radius: 2px;
    border-bottom: 2px solid #9ab;
    padding: 7px;
}

#github_contato:hover {
    transition-duration: 1s;
    border-bottom: 2px solid #14181c;
    padding: 7px;
}

#gmail_contato {
    border-radius: 2px;
    border-bottom: 2px solid #9ab;
    padding: 7px;
}

#gmail_contato:hover {
    transition-duration: 1s;
    border-bottom: 2px solid #ff0000;
    padding: 7px;
}

#linkedin_contato {
    border-radius: 2px;
    border-bottom: 2px solid #9ab;
    padding: 7px;
}

#linkedin_contato:hover {
    transition-duration: 1s;
    border-bottom: 2px solid #4875b4;
    padding: 7px;
}

footer {
    font-family: 'Recursive', sans-serif;
    font-weight: bolder;
    font-size: 0.7em;
    position: fiexed;
    bottom: 0;
    color: #9ab;;
    width: 100%;
    height: 70px;    
    text-align: center;
    line-height: 100px;
    letter-spacing: 2px;
}
/*
    Paleta de cores
    #14181c = tom bem escuro
    #2c3440 = cor sendo usada no background
    #9ab = pode ser usada na cor das fontes
    #00e054 = verde limão
    #4169e1 = quase um azul royal

*/
